@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}

h1, h2, h3, h4, h5, h6, a{
    font-family: Montserrat;
}


:root{
    --bg-color: black;
}

body{
    background-image: url("./images/background-image.jpeg");
    background-repeat: no-repeat;
    background-size: 100vw 400px;
}

a{
    text-decoration: none;
    color: inherit;
    
}

nav{
    padding: 1.5em;
    font-weight: bold;
}

.nav-div{
    float: right;
    color: white;
    word-spacing: 10px;
}

.nav-logo{
    color: white;
    padding: 0.6em;
    font-size: 1.2rem;
    margin-left: 20px;
    border: 2px solid white;
    cursor: pointer;
}



.header{
    position: relative;
    padding-top: 50px;
    padding-bottom: 80px;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    color: white;

}

.header > h1{
    font-size: 2rem;
}

.header > h6{
    margin-top: 15px;
    font-weight: 400;
}


.button{
    flex: 1;
    margin-top: 20px;
    font-weight: bold;
    padding: 1em 1.4em;
    border: 1px solid white;
    cursor: pointer;
    width: 150px;
    color: white;
    background-color: transparent;
    font-family: Montserrat;
    
}

.button:hover{
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-property: background-color;
    background-color: rgb(92, 10, 168);
}

.button-2{
    position: relative;
    top: 30px;
    font-weight: bold;
    padding: 1em 1.4em;
    cursor: pointer;
    flex: 1;
    background-color: transparent;
    width: 150px;
    color: var(--bg-color);
    border: 1px solid var(--bg-color);
    font-family: Montserrat;
}

.button-2:hover{
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
    background-color: blueviolet;
    color: white;
}

.main-content{
    z-index: 10;
    background-color: white;
}

.top-div-1{
    padding: 3em;
}

.main-div-1{
    text-align: center;

}

.main-div-1 h6{
    margin-top: 20px;
}

.main-div-2{
    position: relative;
    padding: 2em 3em;
    top: 50px;
    display: flex;
    justify-content: center;
}

.main-div-2 h3, .main-div-2 p{
    margin-top: 10px;
}
.main-div-2 span{
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: rgb(137, 43, 226);
    border-radius: 50%;
    font-size: 2.5rem;
    color: white;
    padding-top: 20px;
}

.main-div-2 div{
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}


.top-div-2{
    background-color: rgb(240, 240, 240);
    padding: 4em 3em;
    position: relative;
    top: 40px;
}

.top-2-div-1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 50px;
}

picture > img{
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px var(--bg-color);
}

section > p{
    margin-top: 20px;
}

ol{
    list-style-position: inside;
    margin-top: 20px;
}

.top-div-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    background-color: white;
}

.top-div-3{
    text-align: center;
    top: 60px;
    position: relative;
    bottom: 60px;
}

.top-div-3 > img{
    border-radius: 50%;
}


.top-div-3 > h5, .top-div-3 > p{
    padding-top: 20px;
}

.stars{
    color: rgba(255, 179, 0, 0.781);
}

.star-container{
    margin-top: 10px;
}

.foot{
    background-color: var(--bg-color);
    padding: 2em;
    font-weight: bold;
    color: white;
    position: relative;
    top: 90px;
    display: block;
    text-align: center;
}

@media screen and (max-width: 600px){
    nav > .nav-logo{
        display: none;
    }

    .nav-div{
        text-align: center;
        float: none;
        
    }

    .header{
        text-align: center;
        padding-left: 0px;
        align-items: center;
    }
}

@media screen and (max-width: 700px){
    .main-div-2{
        flex-direction: column;
        padding-top: 0px;
    }

    .main-div-2 > div{
        margin-top: 30px;
    }

    .top-2-div-1, .top-2-div-2{
        text-align: center;
        flex-direction: column;
    }

    .top-2-div-1 h2, .top-2-div-2 h2{
        margin-top: 20px;
    }

    picture{
        order: 1; 
        align-self: center;
    }

    .top-2-div-1 section, .top-2-div-1{
        order: 2;
    }


}

@media screen and (max-width: 900px){
    .top-div-2 img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
}

button:focus{
    outline-width: 0px;
}

@media screen and (max-width: 400px){
    .main-div-2{
        padding: 0px;
    }
    .header > h1{
        font-size: 1.5rem;
    }

    .header > h6{
        display: none;
    }

    .header > button{
        margin-top: 50px;
    }
}

@media screen and (max-width: 500px){
    .nav-div > a:nth-child(5){
        display: none;
    }
}

@media screen and (max-width: 420px){
    .nav-div > a:nth-child(6){
        display: none;
    }
}